/* Write your CSS here */
.item-btn {
  border: 0px;
  background-color: transparent;
  color: #0f172a;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.tab-highlight {
  color: #0284c7;
  border: 1px solid #0284c7;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
