.navbar {
  background-color: #2c0e3a;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
.websiteLogo {
  width: 120px;
  height: 30px;
  margin-left: 40px;
}
.dynamicContainer {
  color: white;
  display: flex;
  align-items: center;
}
.scoreSpan {
  color: #fec653;
  font-weight: bold;
  font-size: 20px;
}
.timerContainer {
  margin-left: 40px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.timerLogo {
  width: 18px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .websiteLogo {
    margin-left: 5px;
  }
}
